@model HotelSearch.Web.Models.Response.HotelProduct.PriceSearchHotelResponse
<h1> Hotel List</h1>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<table class="mt-4 table table-hover table-bordered table-sm">
    <thead>
        <tr> 
            
            <td>Otel</td>
            <td>hotel id</td> 
             
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.body.items.Where(a=>a.city.id.Equals("23494")))
        {
            <tr>
                <td>@item.hotel.name</td>
                <td>@item.giataInfo.hotelId</td> 
         

            </tr>
         
        }
       
    </tbody>
</table>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#cities").autocomplete('@Url.Action("CityList", "Hotel")');
        });
    </script>
}