@model HotelSearch.Web.Models.Response.HotelProduct.GetArrivalAutocompleteResponse
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>     
<body>

<h2>Arama Butonu</h2>

<p></p>
@*
@using (Html.BeginForm("HotelList", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(model => model.body.items)
    @Html.ValidationMessageFor(model => model.body.items)
    <button type="submit">Search</button>
}*@

<a class="btn btn-outline-primary" asp-area="" asp-controller="Hotel" asp-action="TrCityList">Şehirleri Listele</a>
</body>
</html>
