@model HotelSearch.Web.Models.Response.HotelProduct.GetArrivalAutocompleteResponse
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>     
<body>
<a class="btn btn-outline-primary" asp-action="Index"  onclick="@("window.location.href='" + @Url.Action("Index", "HotelController") + "'");" ><i class="bi bi-pencil-square"></i>Şehirleri Listele </a>

</body>
</html>
